.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    display: none;
    background-color: black;
    color: #fff;
    border-radius: 4px;
    padding: 10px;

    /* tooltip position */
    position: absolute;
    z-index: 1;
    bottom: calc(100% + 5px);
}

.tooltip:hover .tooltip-text {
    display: block;
}
